@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our pet store</h1>
    <p>
        Here you can buy different pets and pet accessories!!
    </p>
</div>

