@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our pet store</h1>
    <p>
        Here you can buy different pets and pet accessories!!
    </p>
    <div class="row">
        <div class="column">
            <img src="~/pup1.jpg" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="~/pup4.jpg" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="~/pup3.jpg" alt="" style="width:100%">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="column">
            <img src="~/pup1.jpg" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="~/pup4.jpg" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="~/pup3.jpg" alt="" style="width:100%">
        </div>
    </div>
</div>

