@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our pet store</h1>
    <div>
    <img src="img/pup1.jpg" alt="" />
        <hr />
    <img src="" alt="" />
    </div>
</div>

